#root {
  margin: 0 auto;
}
body{
  background-color: #f7f7f7 !important;

  overflow-x: hidden;
}
.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}
ul li{
    list-style: none;
    margin-right: 3rem;
}
*{
  a{
    text-decoration: none !important;
  }
  img{
    width: 100%;
    height: auto;
  }
}
html {
  font-size: 62.5%;
}

.KWOCOMWUVV{
  width: 100%;
  height: auto;
}